.DS_Store
__pycache__
.ipynb_checkpoints
dense121_512_yawn_train.h5
dense121_1024_yawn_train.h5
dense121_2048_yawn_train.h5
dense121_512_yawn_test
dense121_512_yawn_valid
dense121_512_yawn_train
dense121_1024_yawn_test
dense121_1024_yawn_valid
dense121_1024_yawn_train
dense121_2048_yawn_test
dense121_2048_yawn_valid
dense121_2048_yawn_train
res_dense121_512_yawn_test
res_dense121_512_yawn_valid
res_dense121_1024_yawn_test
res_dense121_1024_yawn_valid
res_dense121_2048_yawn_test
res_dense121_2048_yawn_valid
lstm_dense121_512_yawn_test.pickle
lstm_dense121_512_yawn_valid.pickle
lstm_dense121_1024_yawn_test.pickle
lstm_dense121_1024_yawn_valid.pickle
lstm_dense121_2048_yawn_test.pickle
lstm_dense121_2048_yawn_valid.pickle
dense121_512_test
dense121_512_train
dense121_1024_test
dense121_1024_train
dense121_2048_test
dense121_2048_train
dense121_512_train.h5
dense121_1024_train.h5
dense121_2048_train.h5
lstm_dense121_512_test.pickle
lstm_dense121_1024_test.pickle
lstm_dense121_2048_test.pickle
res_dense121_512_test
res_dense121_1024_test
res_dense121_2048_test
